{% extends "base_generic.html" %}
{% load template_filters %}
{% block content %}
  <a href="{% url 'events'%}">Event List</a><br/>
  <a href="{% url 'new_event'%}">New Event</a>

<h1>Event Detail</h1>
<table>
  <tr>
    <th>Period</th>
    <th>Default Frequency</th>
    <th>Name</th>
    <th>Comment</th>
    <th>Time Created</th>
    <th>Time Modified</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><a href="{% url 'period_detail' event_detail.period_id%}">{{ periods|get_object_by_id:event_detail.period_id }}</a></td>
    <td>{{ event_detail.default_frequency }}</td>
    <td>{{ event_detail.display_name }}</td>
    <td>{{ event_detail.comment }}</td>
    <td>{{ event_detail.time_created_string }}</td>
    <td>{{ event_detail.time_modified_string }}</td>
    <td><a href="{% url 'event_edit' event_detail.id %}">Edit</a></td>
    <td>
      <form action="{% url 'event_delete' %}" method="post" onsubmit="return confirm('Do you really want to delete {{ event_detail }}?')">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{event_detail.id}}">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
</table>
<h1>Event Entity List</h1>
<a href="{% url 'new_event_entity' event_id=event_detail.id %}">New Entity</a>

<table>
  <tr>
    <th>Item</th>
    <th>Name</th>
    <th>Comment</th>
    <th>Max</th>
    <th>Min</th>
    <th>EV</th>
    <th>Total</th>
    <th>Time Created</th>
    <th>Time Modified</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {% for event_entity in event_entity_list %}
    <tr>
      <td><a href="{% url 'item_detail' event_entity.item_id%}">{{ items|get_object_by_id:event_entity.item_id }}</a></td>
      <td>{{ event_entity.display_name }}</td>
      <td>{{ event_entity.comment }}</td>
      <td>{{ event_entity.max }}</td>
      <td>{{ event_entity.min }}</td>
      <td>{{ event_entity.expectation_value }}</td>
      <td>{% widthratio event_entity.expectation_value 1 event_detail.default_frequency %}</td>
      <td>{{ event_entity.time_created_string }}</td>
      <td>{{ event_entity.time_modified_string }}</td>
      <td><a href="{% url 'event_entity_edit' event_entity.id %}">Edit</a></td>
      <td>
      <form action="{% url 'event_entity_delete' %}" method="post" onsubmit="return confirm('Do you really want to delete {{ event_entity }}?')">
        {% csrf_token %}
        <input type="hidden" name="event_entity_id" value="{{event_entity.id}}">
        <input type="submit" value="Delete">
      </form>
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}