{% extends "base_generic.html" %}
{% load template_filters %}
{% block content %}
  <a href="{% url 'items'%}">Item List</a><br/>
  <a href="{% url 'new_item'%}">New Item</a>
  <h1>Item Detail</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Time Created</th>
      <th>Time Modified</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>{{ item_detail.display_name }}</td>
      <td>{{ item_detail.comment }}</td>
      <td>{{ item_detail.time_created_string }}</td>
      <td>{{ item_detail.time_modified_string }}</td>
      <td><a href="{% url 'item_edit' item_detail.id %}">Edit</a></td>
      <td>
      <form action="{% url 'item_delete' %}" method="post" onsubmit="return confirm('Do you really want to delete {{ item_detail }}?')">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{item_detail.id}}">
        <input type="submit" value="Delete">
      </form>
      </td>
    </tr>
  </table>
  <h1>Sources</h1>
  |
  {% for period in periods %}
    <a href="{% url 'item_detail' item_id=item_detail.id%}?period_id={{ period.id }}"> {{ period }} </a>|
  {% endfor %}
  {% if event_entities %}
    <table>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Extra Comment</th>
      <th>Max</th>
      <th>Min</th>
      <th>EV</th>
      <th>Total</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for event_entity in event_entities %}
      <tr>
        <td><a href="{% url 'event_detail' events|get_object_by_id:event_entity.event_id|get_attribute:'id' %}">{{ events|get_object_by_id:event_entity.event_id }}</a></td>
        <td>{{ events|get_object_by_id:event_entity.event_id|get_attribute:'comment' }}</td>
        <td>{{ event_entity.comment }}</td>
        <td>{{ event_entity.max }}</td>
        <td>{{ event_entity.min }}</td>
        <td>{{ event_entity.expectation_value }}</td>
        <td>
          {{ events|get_object_by_id:event_entity.event_id|get_attribute:"default_frequency" }} *
          {{ event_entity.expectation_value}}
        </td>
        <td><a href="{% url 'event_entity_edit' event_entity.id %}">Edit</a></td>
        <td>
        <form action="{% url 'event_entity_delete' %}" method="post" onsubmit="return confirm('Do you really want to delete {{ event_entity }}?')">
          {% csrf_token %}
          <input type="hidden" name="event_entity_id" value="{{event_entity.id}}">
          <input type="submit" value="Delete">
        </form>
        </td>
      </tr>
    {% endfor %}
    </table>
  <h3>Sum</h3>
  <p>{{ income_sum }}</p>
  <h3>Sum of shorter periods</h3>
  <p>{{ income_sum_of_shorter_periods }}</p>
  <h3>Total</h3>
  <p>{{ total_income }}</p>
  {% else %}
    <p>No events</p>
  {% endif %}
{% endblock %}