{% extends "base_generic.html" %}

{% block content %}
  <h1>Item List</h1>
<a href="{% url 'new_item'%}">New Item</a>
  {% if item_list %}
    <table>
      <tr>
        <th>Name</th>
        <th>Comment</th>
        <th>Time Created</th>
        <th>Time Modified</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for item in item_list %}
        <tr>
          <td>{{ item.display_name }}</td>
          <td>{{ item.comment }}</td>
          <td>{{ item.time_created_string }}</td>
          <td>{{ item.time_modified_string }}</td>
          <td><a href="{% url 'item_edit' item.id %}">Edit</a></td>
          <td>
          <form action="{% url 'item_delete' %}" method="post" onsubmit="return confirm('Do you really want to delete {{ item }}?')">
            {% csrf_token %}
            <input type="hidden" name="item_id" value="{{item.id}}">
            <input type="submit" value="Delete">
          </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no items.</p>
  {% endif %}
{% endblock %}